---
import BentoItem from "./BentoItem.astro";

import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  class="w-full max-w-[1400px] grid grid-cols-10 auto-rows-[30rem] gap-4 mx-auto p-20"
>
  <BentoItem class="col-span-10 md:col-span-4" title={i18n.CONTENT_TITLE_1}>
    <div
      class="z-10 bottom-0 top-0 w-full h-full bg-gradient-to-b from-transparent from-40% via-black/50 to-black/80"
    >
    </div>
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 object-cover object-center w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
      style="background-image: url('mountain.webp')"
    >
    </div>

    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
      set:html={i18n.CONTENT_DESCRIPTION_1}
    />
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title={i18n.CONTENT_TITLE_2}
    subtitle={i18n.CONTENT_SUBTITLE_1}
  >
    <div
      class="absolute z-10 bottom-0 top-0 w-full h-full bg-gradient-to-b from-transparent from-40% via-black/50 to-black/80"
    >
    </div>
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 object-cover object-center w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-900 -z-10"
      style="background-image: url('/gref.webp')"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
      set:html={i18n.CONTENT_DESCRIPTION_2}
    />
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title={i18n.CONTENT_TITLE_3}
    subtitle={i18n.CONTENT_SUBTITLE_2}
  >
    <div
      class="absolute z-10 bottom-0 top-0 w-full h-full bg-gradient-to-b from-transparent from-40% via-black/50 to-black/80"
    >
    </div>
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 object-cover object-center w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-900 -z-10"
      style="background-image: url('/pistas.webp')"
    >
    </div>
    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
      set:html={i18n.CONTENT_DESCRIPTION_3}
    />
  </BentoItem>

  <BentoItem class="col-span-10 md:col-span-4" title={i18n.CONTENT_TITLE_4}>
    <div
      class="absolute z-10 bottom-0 top-0 w-full h-full bg-gradient-to-b from-transparent from-40% via-black/50 to-black/80"
    >
    </div>
    <div
      slot="image"
      class="absolute left-0 top-0 bottom-0 object-cover object-center w-full h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat bg-blue-950 -z-10"
      style="background-image: url('/laptop_esland.png')"
    >
    </div>

    <p
      slot="content"
      class="max-w-xl text-base md:text-lg"
      set:html={i18n.CONTENT_DESCRIPTION_4}
    />
  </BentoItem>
</section>
